.recent-item-container {
  margin: 1rem 0.5rem;
  padding-top: 0.5rem;
  text-align: center;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0px 0 1px rgba(10, 10, 10, 0.02);
  cursor: pointer;

  img {
    width: 80%;
  }
}
