@import '../../style/mixin';

.main-page-container {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 20% 1fr 10%;
  grid-template-rows: repeat(3, 100%);
  grid-column-gap: 2rem;

  @include respond-to(mobile) {
    display: block;
    overflow: auto;
  }

  @include respond-to(tablet) {
    grid-template-columns: 25% 1fr 20%;
    grid-column-gap: 1rem;
  }
}
