@import './_variables.scss';
@import './_mixin.scss';

@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.app-content {
  height: calc(100vh - 161px);
  padding: 1rem 1.5rem;
  overflow: hidden;
}

.message-body-wrapper {
  height: calc(100% - 44px);
  overflow: auto;
}

@import '../../node_modules/bulma/bulma.sass';
