.pokemon-item-container {
  width: 180px;
  height: 100%;

  .front-image {
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 10px;
    background: #f2f2f2;
    cursor: pointer;

    &:hover {
      background: #bdbdbd;
    }

    img {
      width: 100%;
    }
  }

  .information {
    padding: 5px 20px;

    .index {
      color: #919191;
      font-size: 80%;
      padding-top: 2px;
    }

    .name {
      font-family: 'Grandstander', cursive;
      color: #313131;
      font-size: 145%;
      margin: 10px 0 5px;
    }
  }
}
